.grouped {
    flex: 1;
    container-name: grouped-container;
    container-type: inline-size;
    position: relative;
    overflow: hidden;
}

.grouped-orbit {
    position: absolute;
    inset: 0;
}

.grouped-system {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
}

.grouped-system__centre {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    /* border: 1px solid var(--blue-1); */
    background: var(--blue-2-opaque);

    @container grouped-container (min-width: 1px) {
        width: 10cqw;
    }

    & > img {
        width: 25%;
    }
}

.expanded-centre__count {
    color: var(--white);
    font-weight: 800;
    @container expanded-container (min-width: 1px) {
        font-size: 4cqw;
    }
}

.grouped-system__orbits {
    width: 50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at 50% 50%, var(--bg-1) 60%, transparent);
    border-radius: 50%;
}

.grouped-system__spokes {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.grouped-system__dataPts {
    position: absolute;
    z-index: 4;
    width: 50%;
    height: 100%;
    left: 50%;
    /* top: 2%; */
    transform: translate(-50%, 0);
    background: radial-gradient(circle at 50% 53%, var(--blue-1-halo) 1%, transparent 60%);
}

.grouped-dataPts__item {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    line-height: 1;
    font-weight: 700;
    
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: popup 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s 1 forwards;

    @container grouped-container (min-width: 1px) {
        min-width: 2cqw;
        padding: 0.5cqw;
        font-size: 1.1cqw;
    }

    &:hover  {
        transform: translate(-50%, -50%) scale(1.1)!important;
    }

    &.single {
        @container grouped-container (min-width: 1px) {
            min-width: 1.5cqw;
        }
    }
}

@keyframes popup {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

[data-asset-type="new_alerts"] {
    background: var(--red-1);
    filter: drop-shadow(0 0 0.5cqw var(--red-1));
}
[data-asset-type="aged_alerts"] {
    background: var(--red-2);
}
[data-asset-type="no_alerts"] {
    background: var(--blue-1-opaque);
}

.grouped-spokes__item {
    background: linear-gradient(90deg, transparent 12%, var(--blue-1) 20%, transparent);
    transform-origin: 0%;
    position: absolute;
    z-index: 1;
    top: 52%;
    left: 50%;

    @container grouped-container (min-width: 1px) {
        width: 20cqw;
        height: 0.15cqw;
    }
}

.grouped-legend {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    @container grouped-container (min-width: 1px) {
        padding: 2cqw;
        gap: 1.5cqw;
    }
}

.grouped-legend__item {
    display: flex;
    align-items: center;
    @container grouped-container (min-width: 1px) {
        gap: 1.4cqw;
    }
}

.grouped-item__label {
    display: flex;
    flex-direction: column;
}

.grouped-label__name {
    color: var(--gray-2);

    @container grouped-container (min-width: 1px) {
        font-size: 1.8cqw;
    } 
}

.grouped-label__desc {
    color: var(--gray-5);

    @container grouped-container (min-width: 1px) {
        font-size: 1.6cqw;
    }
}

.grouped-item__color {
    /* width: 8px; */
    aspect-ratio: 1/1;
    border-radius: 50%;

    @container grouped-container (min-width: 1px) {
        width: 1.4cqw;
        height: 1.4cqw;
    }
}

.grouped-pagination {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @container grouped-container (min-width: 1px) {
        gap: 0.5cqw;
        bottom: 2cqw;
        right: 2cqw;
    }
}

.grouped-pagination__button {
    color: var(--gray-2);
    border: 1px solid var(--blue-1);
    background: var(--blue-1-opaque);
    cursor: pointer;
    @container grouped-container (min-width: 1px) {
        padding: 0.5cqw 0.6cqw 0.4cqw;
        width: 4cqw;
        height: 4cqw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & > img {
            width: 100%;
        }
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
