.expanded {
    flex: 1;
    container-name: expanded-container;
    container-type: inline-size;
    position: relative;
    overflow: hidden;
}

.expanded-orbit {
    position: absolute;
    inset: 0;
    outline: 1px solid red;
}

.expanded-system {
    position: absolute;
    inset: 0;
    z-index: 1;
    border: 1px dashed red;
    overflow: hidden;
}

.expanded-system__centre {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid var(--blue-1);
    background: var(--blue-2-opaque);

    @container expanded-container (min-width: 1px) {
        width: 10cqw;
    }

    & > img {
        width: 25%;
    }
}

.expanded-system__orbits {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at 50% 50%, var(--bg-1) 60%, transparent);
    border-radius: 50%;
}

.expanded-legend {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @container expanded-container (min-width: 1px) {
        padding: 2cqw;
        gap: 1.5cqw;
    }
}

.expanded-legend__item {
    display: flex;
    align-items: center;
    @container expanded-container (min-width: 1px) {
        gap: 1.4cqw;
    }
}

.expanded-item__label {
    display: flex;
    flex-direction: column;
}

.expanded-label__name {
    color: var(--gray-2);

    @container expanded-container (min-width: 1px) {
        font-size: 1.8cqw;
    } 
}

.expanded-label__desc {
    color: var(--gray-5);

    @container expanded-container (min-width: 1px) {
        font-size: 1.6cqw;
    }
}

.expanded-item__color {
    /* width: 8px; */
    aspect-ratio: 1/1;
    border-radius: 50%;

    @container expanded-container (min-width: 600px) {
        width: 1.4cqw;
        height: 1.4cqw;
    }
}