.overview {
    flex: 1;
    container-name: overview-container;
    container-type: inline-size;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at 50% 100%, var(--blue-1-halo) 1%, transparent 40%);
}

.overview-center {
    aspect-ratio: 1/1;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue-2);
    border-radius: 50%;

    @container overview-container (min-width: 1px) {
        width: 16cqw;
        border: 0.17cqw solid var(--blue-1);
    }
}

.overview-center__total {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    text-align: center;
    color: var(--white);

    font-size: 15px;
    @container overview-container (min-width: 1px) {
        font-size: 2cqw;
        padding-top: 2cqw;
    }
}

.overview-center__spoke {
    background: linear-gradient(90deg, transparent 19%, var(--blue-1) 20%, transparent);
    transform-origin: 0%;
    position: absolute;
    top: 49%;
    left: 50%;

    @container overview-container (min-width: 1px) {
        width: 41cqw;
        height: 0.17cqw;
    }
}

.overview-orbit {
    position: absolute;
    transform: translateY(-15%);
    width: 100%;

    @container overview-container (min-width: 1px) {
        height: 100cqw;
    }
}

.overview circle:nth-child(2n) {
    transform-origin: 50% 50%;
    animation-name: rotate-clockwise;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

.overview circle:nth-child(2n+1) {
    transform-origin: 50% 50%;
    animation-name: rotate-anticlockwise;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-anticlockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}