.overview {
    flex: 1;
    container-name: overview-container;
    container-type: inline-size;
    position: relative;
    overflow: hidden;
}

.overview-center {
    width: 94px;
    aspect-ratio: 1/1;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue-2);
    border: 1px solid var(--blue-1);
    border-radius: 50%;

    @container overview-container (min-width: 600px) {
        width: 16cqw;
        border: 0.17cqw solid var(--blue-1);
    }
}

.overview-center__total {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    text-align: center;
    color: var(--white);

    font-size: 15px;
    @container overview-container (min-width: 600px) {
        font-size: 2cqw;
        padding-top: 2cqw;
    }
}

.overview-center__spoke {
    width: 245px;
    height: 1px;
    background: linear-gradient(90deg, transparent 19%, var(--blue-1) 20%, transparent);
    transform-origin: 0%;
    position: absolute;
    top: 49%;
    left: 50%;

    @container overview-container (min-width: 600px) {
        width: 41cqw;
        height: 0.17cqw;
    }
}

.overview-orbit {
    position: absolute;
    transform: translateY(-15%);
    width: 100%;

    @container overview-container (min-width: 1px) {
        height: 100cqw;
    }
}
