*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
  --white: #FFF;
  --gray-1: #DBDBDB;
  --gray-2: #ACB9AC;
  --gray-3: #6E6E6E;
  --gray-4: rgba(255, 255, 255, 0.1);
  --gray-5: #9B9B9B;
  --blue-1: rgba(0, 175, 255, 0.30);
  --blue-1-opaque: rgb(15, 68, 92);
  --blue-2: rgba(0, 175, 255, 0.15);
  --blue-2-opaque: rgba(19, 45, 57, 1);
  --red-1: rgb(208, 6, 6);
  --red-2: rgb(125, 17, 17);
  --red-3: rgb(103, 17, 17);
  --bg-1: rgb(22, 22, 22);
}
